*.pdb
*.svn
.metadata
.tags
.tags_sorted_by_file
/.idea
Thumbs.db
/_out
/out
*.iml
*.o
*.d
*.iml
*.launch
**/bin/
**/gen/
/*/obj
org.eclipse.ltk.core.refactoring.prefs
/AndResGuard-master/work/input

/QihooRecognize/out
.idea
.gradle
build
*.orig
